<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
    <mat-card style="width: 80%; margin: 30px 0;">

        <mat-card-content>

            <div fxLayout="row" fxLayoutAlign="center none">

                <div fxFlex fxLayout="column" class="p-10">
                    <div fxFlex fxLayout="row">
                        <span fxFlex="70" class="mat-title">{{product?.name}}</span>
                        <span fxFlex="30" style="text-align: center;" class="mat-title"><b>US{{product?.price | currency}}</b></span>
                    </div>
                    <div fxFlex>
                        <img width="100%" [src]="product?.image_path" alt="Product image" />
                    </div>
                </div>

                <div fxFlex fxLayout="column" class="p-10" fxLayoutAlign="center center">
                    <img width="450" style="margin-bottom:10px" src="assets/clogo.svg" />
                    <span class="mat-title text-center">Make your payment</span>

                    <form novalidate (ngSubmit)="createToken()" [formGroup]="stripeForm!">
                        <input type="text" formControlName="name" placeholder="Ex. Jane Doe">
                        <input type="text" formControlName="email" placeholder="ex. jdoe@example.com">
                        <div id="card-element" class="field"></div>
                        <ng-container *ngIf="!isLoading; else loadingSpinner">
                            <button [disabled]="!this.stripeForm?.valid" type="submit">
                                Pay now
                            </button>
                        </ng-container>

                        <ng-template #loadingSpinner>
                            <div style="margin-top: 10px;">
                                <mat-progress-spinner diameter="35" style="margin: 0 auto;" mode="indeterminate"></mat-progress-spinner>
                            </div>
                        </ng-template>

                    </form>
                </div>
            </div>

        </mat-card-content>

    </mat-card>
</div>