<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
    <mat-card class="thank-you-card">
        <mat-card-title class="text-center">
            <mat-icon class="icon-display">task_alt</mat-icon>
            <h1 class="mat-display-1 mb-30px">Order {{order?.order_number}} Placed Successfully!</h1>
        </mat-card-title>
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
            <p class="mat-body-1">{{order?.customer_name}}, your order has been placed successfully! Please check your email for updates on your order progress.</p>
            <button mat-raised-button routerLink="/" color="primary">Go to Home</button>
        </mat-card-content>
    </mat-card>
</div>